body {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        "header header header"
        "menu feed messenger"
        "footer footer footer";
}

header {
    padding: 10px;
    grid-area: header;
    background-color: #36f;
    color: #fff;
}

.menu {
    padding: 10px;
    grid-area: menu;
    background-color: #eee;
}

.feed {
    display: grid;
    min-height: calc(100vh - 80px);
    padding: 40px;
    grid-area: feed;
    gap: 40px;
}

.messenger {
    padding: 10px;
    grid-area: messenger;
    background-color: #ddd;
}

footer {
    padding: 10px;
    grid-area: footer;
    background-color: #333;
    color: #fff;
}