img {
    width: 300px;
}

.post {
    display: grid;
    max-width: 500px;
    border: 1px solid #ccc;
    grid-template-columns: 1fr;
}
    .post > .post-header {
        display: grid;
        grid-template-columns: 70px 1fr 40px;
    }
        .post > .post-header > .user-photo {
            width: 100%;
            padding: 10px;
        }
            .post .user-photo > img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        .post > .post-header > .user-details {
            padding: 10px 0;
        }
            .post .user-details > a {
                display: inline-block;
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 8px;
            }
            .post .user-details > .time {
                font-size: 14px;
                line-height: 17px;
            }
        .post > .post-header > .actions {
            text-align: center;
        }
    .post > .post-content {

    }
        .post > .post-content > p {
            padding: 0 10px 10px;
            font-size: 17px;
            line-height: 22px;
        }
            .post > .post-content > p.big-text {
                font-size: 28px;
                line-height: 36px;
            }
        .post > .post-content > .gallery {
            width: 100%;
            height: 300px;
        }
            .post .gallery > .img {
                width: 100%;
                height: 100%;
                float: left;
                position: relative;
            }
                .post .gallery > .img > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
        .post > .post-content > .gallery.gallery-2 {
            height: 350px;
        }
            .post .gallery.gallery-2 > .img {
                width: 50%;
            }
        .post > .post-content > .gallery.gallery-3 {
            height: 350px;
        }
            .post .gallery.gallery-3 > .img {
                width: 50%;
                height: 50%;
            }
            .post .gallery.gallery-3 > .img:first-child {
                width: 100%;
            }
        .post > .post-content > .gallery.gallery-4 {
            height: 400px;
        }
            .post .gallery.gallery-4 > .img {
                width: 50%;
                height: calc(100% / 3);
            }
            .post .gallery.gallery-4 > .img:first-child {
                height: 100%;
            }
        .post .gallery > .img::after {
            content: '+'attr(data-extra);
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;
            background-color: #000c;
            color: #fff;
            font-size: 60px;
        }
            .post .gallery > .img.extra::after {
                display: flex;
            }

    .post > .post-footer {
        padding: 0 10px;
    }
        .post > .post-footer > .row {
            padding: 10px;
            border-top: 1px solid #ccc;
        }